// Define variables for your color scheme

// For example:
$red: #ff5e69;
$blue: #2C757D;
$yellow: #FDD072;
$orange: #E67E22;
$green: #4c9b7b;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #97DADB;
$pink: #FDD9DC;

