.card-category {
  background-size: cover;
  background-position: center;
  color: white;
  margin: 20px 15px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  a {
    font-family: $headers-font;
    color: white;
  }
}

.color-yellow {
  background-color: $yellow;
  margin-top: 0;
}

.color-light-blue {
  background-color: $light-blue;
}

.color-pink {
  background-color: $pink;
}

.color-green {
  background-color: $green;
}

.color-red {
  background-color: $red;
}

.left-text {
  text-align: left;
}

.font-sans {
  font-family: 'PT Sans', sans-serif;
}

.font-serif {
  font-family: 'PT Serif', serif;
}

.text-light-blue {
  color: $light-blue;
}

.text-blue {
  color: $blue;
}
.headers-box {
  margin: 20px 15px 5px 15px;
}

.sub-heading{
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: $blue;
  opacity: 0.5;
  margin-bottom: 0;
}

.sub-heading-white {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: white;
  margin-bottom: 0;
}

.heading {
  font-weight: bold;
  margin-bottom: 0;
}
