.card-category {
  background-size: cover;
  background-position: center;
  color: white;
  margin: 20px 15px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  a {
    font-family: $headers-font;
    color: white;
  }
}

.color-yellow {
  background-color: $yellow;
}

.color-light-blue {
  background-color: $light-blue;
}

.color-pink {
  background-color: $pink;
}

.heading {
  text-align: center;
  color: $blue;
  margin: 40px;
}
