<body>
  <h1 class="heading">Recipes</h1>
  <div class="card-category color-yellow">
    <%= link_to "Breakfast", recipes_path %>
  </div>
  <div class="card-category color-pink">
    <%= link_to "Lunch & Dinner", recipes_path %>
  </div>
  <div class="card-category color-light-blue">
    <%= link_to "Soups & salads", recipes_path %>
  </div>

</body>
